<div class="dnd5e chat-card item-card wire-item-card {{#if isSecondary}}item-card-secondary{{/if}} {{#if (eq activation.state "waiting-for-action-trigger")}}item-card-action{{/if}}" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
    {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}"{{/if}}>
    {{#unless isGMActorPlayerView}}
        <header class="card-header flexrow">
            <img src="{{item.img}}" title="{{item.name}}" />
            <h3 class="item-name">{{item.name}}</h3>
        </header>

        {{#unless isSecondary}}
            <div class="card-content">
                {{{data.description.value}}}
                {{#if data.materials.value}}
                <p><strong>{{ localize "DND5E.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
                {{/if}}
            </div>
        {{/unless}}
    {{/unless}}

    {{#unless (eq activation.state "waiting-for-action-trigger")}}
        {{#if activation.condition}}
            <div class="card-condition-update flexrow">
                <div class="flex1 condition">{{activation.condition.condition}}</div>
                <i class="fas fa-arrow-right flex0"></i>
                <div class="flex1 update">{{activation.condition.update}}</div>
            </div>
        {{/if}}
    {{/unless}}

    <div class="card-phases">
        {{#unless isGMActorPlayerView}}
            {{#if (eq activation.state "performAttackRoll")}}
                <div class="phase-waiting-for-roll">
                    <i class="fas fa-dice-d20 fa-3x anim-pulse"></i>
                </div>
            {{/if}}
            {{#if activation.attack.roll}}
                <div class="phase-attack roll-container">
                    <div class="dice-roll flexrow">
                        <div class="flex1 dice-label flexrow">
                            <i class="flex0 fas fa-dice-d20"></i>
                            <div class="flex1">{{localize "DND5E.Attack"}}</div>
                            {{#if activation.attack.options.advantage}}
                                <i class="flex0 fas fa-angle-double-up"></i>
                            {{/if}}
                            {{#if activation.attack.options.disadvantage}}
                                <i class="flex0 fas fa-angle-double-down"></i>
                            {{/if}}
                        </div>
                        <div class="flex1 dice-total {{activation.attack.resultType}}">{{activation.attack.roll.total}}</div>
                    </div>
                    <div class="dice-roll">
                        {{{activation.attack.tooltip}}}
                    </div>

                    <div class="flexrow">
                        <img class="flex0 token-image" src="{{activation.attack.target.token.data.img}}" />
                        <div class="flex1 token-info flexcol">
                            <div class="token-name">{{activation.attack.target.token.name}}</div>
                            {{#if isGM}}
                                <div class="token-ac"><i class="fas fa-shield-alt"></i> {{activation.attack.target.actor.data.data.attributes.ac.value}}</div>
                            {{/if}}
                        </div>
                        {{#if activation.attack.result}}
                            <div class="flex0 attack-result">
                                {{#if (eq activation.attack.result 'hit')}}<i class="fas fa-check fa-2x hit"></i>{{/if}}
                                {{#if (eq activation.attack.result 'miss')}}<i class="fas fa-times fa-2x miss"></i>{{/if}}
                            </div>
                        {{else}}
                            {{#if isGM}}
                                <div class="flex0 confirm-buttons flexrow">
                                    <a data-action="confirm-attack-hit" class="flex0 confirm-yes {{#if (gte activation.attack.roll.total activation.attack.target.actor.data.data.attributes.ac.value)}}recommended{{/if}}"><i class="fas fa-check fa-2x"></i></a>
                                    <a data-action="confirm-attack-miss" class="flex0 confirm-no {{#if (lt activation.attack.roll.total activation.attack.target.actor.data.data.attributes.ac.value)}}recommended{{/if}}"><i class="fas fa-times fa-2x"></i></a>
                                </div>
                            {{else}}
                                <div class="flex0 waiting-for-hit"><i class="fas fa-shield-alt fa-2x anim-beat"></i></div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/if}}
            {{#if (eq activation.state "waiting-for-attack-damage")}}
                <div class="phase-waiting-for-roll">
                    <i class="fas fa-dice-d20 fa-3x anim-pulse"></i>
                </div>
            {{/if}}
            {{#if activation.damage.roll}}
                <div class="phase-damage roll-container">
                    <div class="dice-roll flexrow">
                        <div class="flex1 dice-label flexrow">
                            <i class="flex0 fas fa-dice-d20"></i>
                            <div class="flex1">
                                {{#if activation.damage.isTempHps}}
                                    {{localize "wire.ui.temporary-hp"}}
                                {{else}}
                                    {{#if activation.damage.isHealing}}{{ localize "DND5E.Healing" }}
                                    {{else}}{{localize "DND5E.Damage" }}{{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="flex1 dice-total">{{activation.damage.roll.total}}</div>
                    </div>
                    <div class="dice-roll">
                        {{{activation.damage.tooltip}}}
                    </div>
                </div>
            {{/if}}
        {{/unless}}

        {{#if (or (eq activation.state "waiting-for-saves") activation.saves.length)}}
            {{#*inline "target-save-row"}}
                <div class="saving-throw-target flexrow" data-actor-id="{{actor.uuid}}">
                    <img class="flex0 target-image" src="{{token.data.img}}" />
                    <div class="flex1 target-name">{{token.name}}</div>
                    {{#if (arrayLookup ../activation.saves "actorUuid" actor.uuid)}}
                        {{#with (arrayLookup ../activation.saves "actorUuid" actor.uuid)}}
                            <div class="flex0 target-save-result {{#if (gte roll.total ../../item.data.save.dc)}}success{{else}}fail{{/if}}">
                                {{#if (or ../../isGM isPC)}}
                                    {{roll.total}}
                                {{else}}
                                    {{#if (gte roll.total ../../item.data.save.dc)}}
                                        <i class="fas fa-check"></i>
                                    {{else}}
                                        <i class="fas fa-times"></i>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/with}}
                    {{else}}
                        {{#if (or ../isGM (and actor.hasPlayerOwner actor.isOwner))}}
                            <a data-action="wire-save" class="flex0 target-save"></a>
                            <a data-action="wire-save-config" class="flex0">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            {{#if ../isGM}}
                                <div class="target-save-popup save-popup-toggle">
                                    <a data-action="wire-save-success"><i class="fas fa-check fa-2x"></i></a>
                                    <a data-action="wire-save-failure"><i class="fas fa-times fa-2x"></i></a>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            {{/inline}}

            <div class="phase-saving-throws">
                <div class="flexrow">
                    <h3 class="phase-heading">
                        {{#unless activation.abilityToCheckForSave}}
                            {{localize "wire.ui.saving-throw-heading" ability=(lookup abilityNames item.data.save.ability)}}
                        {{else}}
                            {{localize "wire.ui.ability-check-heading" ability=(lookup abilityNames activation.abilityToCheckForSave)}}
                        {{/unless}}
                        {{#if (or isGM item.hasPlayerOwner)}}
                            ({{localize "wire.ui.dc" value=item.data.save.dc}})
                        {{/if}}
                    </h3>
                    {{#if isGM}}
                        <a class="flex0 group-save save-popup-toggle" title="{{localize "wire.ui.manual-saves"}}"><i class="fas fa-check"></i></a>
                        <a class="flex0 group-save" data-action="roll-all-saves" title="{{localize "wire.ui.roll-all-saves"}}"><i class="fas fa-users"></i></a>
                        <a class="flex0 group-save" data-action="roll-npc-saves" title="{{localize "wire.ui.roll-npc-saves"}}"><i class="fas fa-users-cog"></i></a>
                    {{/if}}
                </div>

                <div>
                    {{#if (or isGM hasPlayerOwner)}}
                        {{#each activation.allTargets}}
                            {{> target-save-row }}
                        {{/each}}
                    {{else}}
                        {{#each activation.pcTargets}}
                            {{> target-save-row }}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        {{/if}}

        {{#unless isGMActorPlayerView}}
            {{#if (eq activation.state "waiting-for-save-damage")}}
                <div class="phase-waiting-for-roll">
                    <i class="fas fa-dice-d20 fa-3x anim-pulse"></i>
                </div>
            {{/if}}
        {{/unless}}

        {{#if (eq activation.state "waiting-for-action-trigger")}}
            <div class="phase-action">
                {{localize activation.condition.update}}
            </div>
        {{/if}}
    </div>

    {{#if activation.customHtml}}
        <div class="card-custom-html">
            {{{activation.customHtml}}}
        </div>
    {{/if}}

    <div class="card-buttons">
        {{#unless isGMActorPlayerView}}
            {{#if (or (eq activation.state "waiting-for-attack-damage-roll") (eq activation.state "waiting-for-save-damage-roll"))}}
                <div class="flexrow small-gap">
                    <button class="flex1" data-action="wire-damage">
                        {{#if activation.damage.isTempHps}}
                            {{localize "wire.ui.temporary-hp"}}
                        {{else}}
                            {{#if activation.damage.isHealing}}{{ localize "DND5E.Healing" }}
                            {{else}}
                                {{#if activation.damage.isCritical}}
                                    {{localize "DND5E.Critical" }}
                                {{else}}
                                    {{localize "DND5E.Damage" }}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </button>
                    <button class="flex0" data-action="wire-damage-configure">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                </div>
            {{/if}}
            {{#if (eq activation.state "waiting-for-target-confirmation")}}
                <button data-action="confirm-targets">
                    {{localize "wire.ui.confirm-targets"}}
                </button>
            {{/if}}
            {{#if (eq activation.state "waiting-for-action-trigger")}}
                <button data-action="activate-action">
                    {{localize "wire.ui.activate-action"}}
                </button>
            {{/if}}
        {{/unless}}
    </div>

    {{#unless (or isGMActorPlayerView isSecondary)}}
        <footer class="card-footer">
            {{#each data.properties}}
            <span>{{this}}</span>
            {{/each}}
        </footer>
    {{/unless}}
</div>
