<div class="dialog-content">
    <form>
        {{#each components}}
            <div class="form-group">
                <div class="configure-check__part-row flexrow">
                    <div class="configure-check__part flex1">{{localize i18nKey}}</div>
                    <div class="configure-check__bonus flex2">{{value}}</div>
                </div>
            </div>
        {{/each}}
        <div class="form-group">
            <input class="configure-check__custom-bonus flex2" name="bonus" autofocus="true" placeholder="{{localize "wire.configure-check.custom-placeholder"}}" type="text" />
        </div>
    </form>
</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
        <button class="dialog-button {{cssClass}}" data-button="{{id}}" {{disabled button.disabled}}>
            {{{button.icon}}}
            {{{button.label}}}
        </button>
    {{/each}}
</div>
{{#if showHint}}
    <div class="configure-check__hint">
        {{localize "wire.configure-check.fast-forward-hint"}}
    </div>
{{/if}}
