<form>
    <div class="dialog-content">
        {{#each damageParts}}
            <div class="configure-damage__damage-row flexrow">
                <div class="configure-damage__type flex1">{{lookup ../damageLabels type}}</div>
                <div class="configure-damage__formula flex2">{{formula}}</div>
            </div>
        {{/each}}
        <input class="configure-damage__custom-damage" name="bonus" autofocus="true" placeholder="{{localize "wire.configure-damage.custom-placeholder"}}" type="text" />
    </div>
</form>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
        <button class="dialog-button {{cssClass}}" data-button="{{id}}" {{disabled button.disabled}}>
            {{{button.icon}}}
            {{{button.label}}}
        </button>
    {{/each}}
</div>
